@import './base.css';

html, body { margin: 0; padding: 0; width: 100%; height: 100%; overflow-x: hidden; background: #f3ffd5;   display: block !important; }

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 100%; 
  height: 100%;
  display: block !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }

}
